body {
    background-color: #11111b;
    background-image: url("bliss.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
}
.display {
    display: block;
    margin: auto;
    margin-top: 64px;
    width: 520px;
    border: 1px solid #6c7086;
    border-radius: 6px;
}
.text {
    display: block;
    margin: auto;
    margin-top: 12px;
    background-color: #1e1e2e;
    width: 520px;
    color: #cdd6f4;
    font-family: sans-serif;
    padding: 4px 0px;
    border: 1px solid #6c7086;
    border-radius: 6px;
    text-align: center;
}
a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    color: #89b4fa;
    text-decoration: none;
    font-weight: bold;
}
mark.hyperlinked {
    color: #89b4fa;
    background: none;
}
